<html>
		<head>
		</head>
		<body style='margin:0px; padding:0px;font-family: Verdana,Arial;font-size:16px ;color:rgb(60,60,60)'>
				<table style='width:600px; margin:auto'>
						<tr>
								<td><img src='http://www.hummingbirdapplication.com/images/logos/hummingbird.png' width='52' height='70' alt='Hummingbird'></td>
								<td style='vertical-align:bottom'><span style='font-size:70px'>HUMMING</span><span style='color:rgb(205,20,20);font-size:70px'>BIRD</span></td>
						</tr>
						<tr style='text-align:justify'>
								<td colspan='2' style='padding-top:20px'>
										Welcome to Hummingbird. We hope you enjoy using this service as much as we enjoyed making it. Before you can get started we just need to verify your account.
										Click on the link below to finish the activation process. If clicking on the link doesn't work, copy and past the entire url into your browser window and hit go.
								</td>
						</tr>
						<tr>
								<td colspan='2' style='padding-top:50px; padding-bottom:50px'>
										<a href=''>lol</a>
								</td>
						</tr>
						<tr style='text-align:center'>
								<td colspan='2'>
										A few things we want you to remember before using Hummingbird.
								</td>
						</tr>
						<tr>
								<td colspan='2' style='padding-top:10px'>
										<ul style='font-size:12px'>
												<li style='padding-top:10px'>You <span style='color:rgb(205,20,20)'>must be a running</span> the latest version of <span style='color:rgb(205,20,20)'>Google Chrome</span> for the application to work properly.</li>
												<li style='padding-top:10px'>You need to download and <span style='color:rgb(205,20,20)'>install the Hummingbird Chrome extension</span> to be able to add classes to Hummingbird.</li>
												<li style='padding-top:10px'>This service is currently built for students at The University of Southern California. <span style='color:rgb(205,20,20)'>The app will only work with USC's schedule of classes.</span> If you don't go to USC, you are welcome to try it out and shoot us an email to see if we can bring Hummingbird to your school.</li>
										</ul>
								</td>
						</tr>
						<tr>
								<td colspan='2' style='padding-top:20px'>
										Cheers,<br/><span style='color:rgb(205,20,20)'>The Hummingbird Team</span>
								</td>
						</tr>
						<tr>
								<td colspan='2' style='font-size:12px; padding-top:30px; text-align:center'>
										This email was meant for. If this is not you, or someone stole your identity and signed you up for this service, please disregard this email and we will promptly remove you from our servers.
								</td>
						</tr>
				</table>
		</body>
</html>