<!DOCTYPE html>
<html>
		<head>
		</head>
		<body>
				<body style='margin:0px; padding:0px;font-family: Verdana,Arial;font-size:16px ;color:rgb(60,60,60)'>
				<table style='width:600px; margin:auto'>
						<tr>
								<td><img src='http://www.hummingbirdapplication.com/images/logos/hummingbird.png' width='52' height='70' alt='Hummingbird'></td>
								<td style='vertical-align:bottom'><span style='font-size:70px'>HUMMING</span><span style='color:rgb(205,20,20);font-size:70px'>BIRD</span></td>
						</tr>
						<tr style='text-align:justify'>
								<td colspan='2' style='padding-top:20px'>
										Hi There!<br/><br/>
										We heard you forgot your password so we're here to help. Simply follow the link below to set your new password and you'll be back using Hummingbird
										before you know it. 
								</td>
						</tr>
						<tr>
								<td colspan='2' style='padding-top:50px; padding-bottom:50px'>
										<a href=''>lol</a>
								</td>
						</tr>
						<tr style='text-align:justify'>
								<td colspan='2' style='padding-top:20px'>
										If you've remembered the password now, or didn't make this request yourself, just feel free to forget about this mail and carry on with your day!
								</td>
						</tr>
						<tr>
								<td colspan='2' style='padding-top:20px'>
										Cheers,<br/><span style='color:rgb(205,20,20)'>The Hummingbird Team</span>
								</td>
						</tr>
				</table>
		</body>
</html>