*{
		font-family: 'Cantarell', sans-serif;
		font-weight:700;
		color:rgb(80,80,80);
		padding:0px;
		margin:0px;
}
#header{
		width:100%;
		height:150px;
		background:black;
}
#header-img-container{
		width:64px;
		margin:auto;
		padding-top:20px;
}
/* 		----------------------------------------- Page Content ------------------------------ */
#title{
		width:100%;
		color:rgb(205,20,20);
		font-size:20px;
		text-align:center;
		margin-bottom:20px;
}
#reset-pwd{
		width:750px;
		margin:auto;
}
.input-holder{
		display:inline-block;
}
.error-message{
		font-size:9px;
		color:rgb(205,20,20);
		margin-left:10px;
		margin-top:5px;
		opacity:0;
}
.input-element{
		width:200px;
		height:25px;
		margin-left:10px;
		margin-right:10px;
		text-align:center;
		color:rgb(205,20,20);
}
input::-webkit-input-placeholder {
		color:rgb(205,20,20);
		font-family: 'Cantarell', sans-serif;
		font-weight:700;
}