*{
		margin:0px;
		padding:0px;
		font-family: 'Cantarell', sans-serif;
		font-weight:700;	
		color:rgb(80,80,80);
}
body{
		width:1280px;
}
#settings{
		width:200px;
		position:absolute;
		display:none;
		background:white;
		border:1px solid;
		border-color:black;
		border-top:none;
		font-size:11px;
		z-index:10;
}
#settings ul{
		margin:10px 0px 20px 0px;
		text-decoration:none;
		list-style:none;
}
#settings ul li a{
		padding:1px 20px 1px 20px;
		line-height:18px;
		display:block;
		text-decoration:none;
}
#settings-menu-divider{
		width:80%;
		margin:auto;
		border-top:1px solid;
		border-color:rgb(100,100,100);
		margin-top:15px;
		margin-bottom:10px;
}
#settings ul li:hover a{
		background:rgb(205,20,20) !important;
		color:white !important;
}
#header-container{
		width:100%;
		background:black;
}
#header{
		width:1280px;
		padding:15px 0px 15px 0px;
		margin:auto;
}
#header-title{
		font-size:28px;
		padding-left:15px;
}
.red{
		color:rgb(205,20,20);
}
#account-settings{
		float:right;
		padding-right:40px;
}
#settings-toggle{
		width:20px;
		height:30px;
		background-image:url('../../images/dw-nh.png');
		background-repeat:no-repeat;
		background-position:5px 13px;
		display:inline-block;
		margin-left:20px;
		position:relative;
		top:10px;
}
#settings-toggle:hover{
		background:rgb(30,30,30);
		background-image:url('../../images/dw-nh.png');
		background-repeat:no-repeat;
		background-position:5px 13px;
		cursor:pointer;
}
.settings-visible{
		background:white !important;
		background-image:url('../../images/dw-nh.png') !important;
		background-repeat:no-repeat !important;
		background-position:5px 13px !important;
}
#master-wrapper{
		width:100%;
		height:480px;
		margin-top:50px;
}
#main-content{
		width:853px;
		height:100%;
		margin:auto;
}
#settings-description{
		float:left;
		width:30px;
		height:100%;
		font-size:41px;
		word-wrap:break-word;
		text-align:center;
}
#settings-main-content{
		float:left;
		width:80%;
		margin-top:10px;
		margin-left:100px;
}
#settings-static-elements{
		padding-bottom:10px;
}
.static-element{
		margin-bottom:10px;
}
.static-element-content{
		padding-left:5px;
}
.element-description{
		display:inline-block;
		width:100px;
}
#remove-phone-link{
		font-size:10px;
		color:rgb(205,20,20);
}
#remove-phone-link:hover{
		text-decoration:underline;
		cursor:pointer;
}
#remove-phone-icon:before{
		content:"";
		display:inline-block;
		width:10px;
		height:2px;
		background:rgb(205,20,20);
		border-radius:2px;
		position:relative;
		top:-3px;
		margin-right:7px;
}
#phone-content-wrapper{
		padding:20px 0px 20px 0px;
		border-top:1px solid;
}
#phone-settings{
		float:left;
		display:inline-block;
		width:80%;
		margin-top:5px;
}
#no-phone-message{
		float:left;
		font-size:12px;
}
#add-phone-content{
		display:none;
		height:0px;
		overflow:hidden;
		font-size:12px;
}
#add-phone-link{
		color:rgb(205,20,20);
}
#add-phone-link:hover{
		text-decoration:underline;
		cursor:pointer;
}
.add-phone-form-element{
		margin-bottom:10px;
}
.add-phone-form-description{
		margin-bottom:5px;
}
#phone-number-input input{
		height:20px;
		color:rgb(205,20,20);
		text-align:center;
}
#mobile-carrier-toggle{
		width:173px;
		height:20px;
		padding:3px;
		border:1px solid;
		border-color:rgb(150,150,150);
}
#mobile-carrier-toggle:hover{
		background:rgb(230,230,230);
		border-color:rgb(60,60,60);
		cursor:pointer;
}
#carrier-selected{
		margin-left:5px;
}
.down-arrow{
		float:right;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 7px solid rgb(205,20,20);
		margin-right:10px;
		margin-top:6px;
}
#mobile-carriers{
		display:none;
		width:140px;
		background:rgb(245,245,245);
		border:1px solid;
		border-color:rgb(150,150,150);
		position:absolute;
}
.drop-down-menu ul{
		list-style:none;
}
.drop-down-menu ul li{
		padding:0px 5px 0px 5px;
		margin:7px 0px 7px 0px;
}
.drop-down-menu ul li:hover{
		background:rgb(205,20,20);
		color:white;
		cursor:pointer;
}
#verify-mobile-container{
		margin-top:10px;
}
.verify-mobile-button{
		width:180px;
		margin-top:10px;
		line-height:25px;
		text-align:center;
		color:white;
		background: -webkit-linear-gradient(rgb(205,20,20),rgb(150,0,0));
		background: -moz-linear-gradient(rgb(205,20,20),rgb(150,0,0));
}
.clickable:hover{
		cursor:pointer;
}
.superscript{
		font-size:8px;
		color:white;
}
#verify-mobile-loading{
		display:none;
		width:190px;
		height:25px;
		margin-top:10px;
		background:url('../../images/loading.gif');
		background-repeat:no-repeat;
		background-position:center;
		background-size:25px;
}
#verify-mobile-code{
		display:none;
		height:0px;
		overflow:hidden;
}
#mobile-verification-code{
		width:60px;
		height:20px;
		text-align:center;
		color:rgb(205,20,20);
}
#verify-mobile-error{
		display:none;
		color:rgb(205,20,20);
		font-size:10px;
		margin-left:5px;
}
#save-changes-addPhone:hover{
		cursor:pointer;
		background:rgb(205,20,20);
}
#notification-settings-wrapper{
		padding-top:10px;
		border-top:1px solid;
}
#notification-settings-header{
		margin-bottom:10px;
		color:rgb(205,20,20);
}
.phone-notification{
		display:inline-block;
		width:125px;
		border:1px solid;
}
.phone-notification:hover{
		background:rgb(245,245,245);
		cursor:pointer;
}
#phone-notifications-menu{
		display:none;
		width:100px;
		background:rgb(245,245,245);
		border:1px solid;
		font-size:12px;
		position:absolute;
}
#save-changes{
		width:200px;
		margin:auto;
		margin-top:50px;
}
#save-changes:hover{
		cursor:pointer;
		background:rgb(205,20,20);
}
.clear{
		clear:both;
}